@model CarRent.Models.Carro

@{
    ViewData["Title"] = "Create";
}



<h4>Adicionar Carro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometragem" class="control-label"></label>
                <input asp-for="Kilometragem" class="form-control" />
                <span asp-validation-for="Kilometragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cor" class="control-label"></label>
                <input asp-for="Cor" class="form-control" />
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusCarro" class="control-label"></label>
                <input asp-for="StatusCarro" class="form-control" />
                <span asp-validation-for="StatusCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCar" class="control-label"></label>
                <input asp-for="ImageCar" class="form-control" />
                <span asp-validation-for="ImageCar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
         @*    <div class="form-group ">
                <label>
                    <input asp-for="Descricao" /> @Html.DisplayNameFor(model => model.Descricao)
                </label>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estoque" /> @Html.DisplayNameFor(model => model.Estoque)
                </label>
            </div>
            <div class="form-group">
              
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId" ></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

